a{
	-webkit-transition: all 300ms ease;
-moz-transition: all 300ms ease;
-ms-transition: all 300ms ease;
-o-transition: all 300ms ease;
transition: all 300ms ease;
}
/*helper Clases*/
.full-body{
	width: 100%;
	float: left;
}
.full{
	width: 100%;
	float: left;
}
.radio-btn{
	cursor: pointer;
	position: relative;
	padding: 10px;
	display: inline-block;
}
.radio-btn > input{
	display: none;
}
.radio-btn:before{
	position: absolute;
	content: "\f10c";
	display: inline-block;
font-family: FontAwesome;
font-style: normal;
font-weight: normal;
line-height: 1;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
font-size: 25px;
color: #BDBDBD;
float: left;
margin-top: 20px;
margin-left: -6px;
}
.radio-btn.current:before{
	content: "\f192";
}
/*first header style start here*/
.first-header{
	background-color: #598ab9;
	color: #fff;
	height: 100px;
}
.logo > img {
	width: 140px;
	float: left;
	top: 10px;
	right: -30px;
	position: absolute;
}
/*second header style start here*/
.second-header{
	background-color: #fff;
	border-bottom: 1px solid #ccc;
}
.main-navbar{
	margin-bottom: 0;
}
.main-navbar li{
	background-color: #86a5c3;
	padding: 0;
	list-style-type: none;
	float: left;
}

.main-navbar li a{
	color: #fff;
	text-align: center;
	text-decoration: none;
	width: 100%;
	float: left;
	font-size: 20px;
	padding-top: 14px;
	padding-bottom: 14px;
}
@media screen and (max-width: 768px){
	.main-navbar li{
		width: 33.333333%;
	}
	.content{
		width:100%;
	}
}
@media screen and (max-width: 500px){
	.main-navbar li{
		width: 100%;
		display: block;
	}
}
.main-navbar li a.active{
	background-color: #598ab9;
}
.main-navbar li a:hover, .main-navbar li a:active, .main-navbar li a:focus{
	background-color: #598ab9;
}

.content{
	background-color: #fff;
	padding: 0;
	border:1px solid #ccc;
	border-top-color: transparent;
	margin-top: -1px;
	padding-bottom: 20px;
	float: left;
}
.content .form{
	margin-top: 70px;
	float: left;
	width: 100%;
	padding: 20px;
	padding-bottom: 40px;
	border-bottom: 1px solid #ccc;
}
@media screen and (max-width: 768px){
	.content .form{
		margin-top: 40px;
		padding: 3px;
		padding-bottom: 20px;
	}
	.content .form select{
		margin-bottom: 10px;
	}
}
.radios{
	margin-top: 20px;
	margin-left: 30px;
}
.submit-button{
	float: right;
	margin-top: 30px;
}
.table-results{
	padding: 0px 30px;
}
.theMpa{
	float: left;
	width: 100%;
	padding: 30px;
}
.table{
	float: left;
}